DI-engine>=0.5.3
gymnasium[atari]>=1.0.0
ale-py>=0.10.1
numpy>=1.24.1,<2
transformers
pympler
minigrid
moviepy
pytest
line_profiler
xxhash
einops
openai
nltk
pyecharts
numba
simple_parsing # for Jericho env