Pillow==8.2.0
sphinx>=7.3.7
sphinx_rtd_theme
enum_tools
sphinx-toolbox
plantumlcli>=0.0.2
sphinx-autobuild
recommonmark>=0.7.1
git+http://github.com/opendilab/LightZero@main
-e git+https://github.com/opendilab/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
