name: Deploy Sphinx Docs to GitHub Pages

on:
  push:
    branches:
      - dev-doc

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade -r requirements-doc.txt
        pip install -e .
        pip install sphinx sphinx-rtd-theme recommonmark

    - name: Build the Sphinx documentation
      run: |
        cd docs/en
        make html
        cp ../../.nojekyll ./build/html/.nojekyll

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/en/build/html